src/main/resources/wsdl/ProductService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.architecture.unal/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ProductServiceService" targetNamespace="http://service.architecture.unal/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.architecture.unal/" elementFormDefault="unqualified" targetNamespace="http://service.architecture.unal/" version="1.0">

  <xs:element name="getProduct" type="tns:getProduct"/>

  <xs:element name="getProductResponse" type="tns:getProductResponse"/>

  <xs:element name="getProducts" type="tns:getProducts"/>

  <xs:element name="getProductsResponse" type="tns:getProductsResponse"/>

  <xs:element name="orderProduct" type="tns:orderProduct"/>

  <xs:element name="orderProductResponse" type="tns:orderProductResponse"/>

  <xs:complexType name="getProduct">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getProductResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:productDTO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="productDTO">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="inventory" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element name="price" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="orderProduct">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="amount" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="orderProductResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getProducts">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getProductsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:productDTO"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getProduct">
    <wsdl:part element="tns:getProduct" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductResponse">
    <wsdl:part element="tns:getProductResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderProduct">
    <wsdl:part element="tns:orderProduct" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductsResponse">
    <wsdl:part element="tns:getProductsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderProductResponse">
    <wsdl:part element="tns:orderProductResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProducts">
    <wsdl:part element="tns:getProducts" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ProductService">
    <wsdl:operation name="getProduct">
      <wsdl:input message="tns:getProduct" name="getProduct">
    </wsdl:input>
      <wsdl:output message="tns:getProductResponse" name="getProductResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="orderProduct">
      <wsdl:input message="tns:orderProduct" name="orderProduct">
    </wsdl:input>
      <wsdl:output message="tns:orderProductResponse" name="orderProductResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProducts">
      <wsdl:input message="tns:getProducts" name="getProducts">
    </wsdl:input>
      <wsdl:output message="tns:getProductsResponse" name="getProductsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductServiceServiceSoapBinding" type="tns:ProductService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getProduct">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProduct">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProductResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="orderProduct">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="orderProduct">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="orderProductResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProducts">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProducts">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProductsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductServiceService">
    <wsdl:port binding="tns:ProductServiceServiceSoapBinding" name="ProductServicePort">
      <soap:address location="http://localhost:8080/SoftwareArchitectureUNAL/webservices/ProductService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>